header {
    display: block;
    width: 100%;
    height: 50px;
    margin: 0 auto;
    padding: 0 10px;
    background: #121212;

    .wrap {
        position: relative;
        display: block;
        width: 100%;
        margin: 0 auto;
        max-width: 980px;
        height: 100%;
    }

    .logo {
        display: block;
        width: 120px;
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);

        .img {
            display: block;
            width: 100%;
            margin: 0;
        }
    }
}